*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100vw;
    background-color: #f7f4f4;
}
/*header*/

.header__container{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: auto;
background-color: blueviolet;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 1);
text-align: center;
z-index: 2;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header__container ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 50px;
    list-style: none;
}

.header__container ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.4s;
}

.header__container ul li a:hover{
    color: violet;
    font-size: 22px;
}
.header__container ul li .container__logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

/*banner*/
.banner{
    
    display: grid;
    height: 100vh;
    place-items: center;
    text-align: center;
    background-image: url(../img/1.jpg);
    background-color: aliceblue;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner__text{
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.banner__text h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 55px;


}
.banner__text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-weight: 900;
    font-size: 30px;
    margin-top: 50px;    

}
.banner__text a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
    background-color: blueviolet;
    padding: 20px 35px;
    display: inline-block;
    margin-top: 50px;   
    border-radius: 24px;
    border: 2px solid violet;
    transition: all 0.4s; 

}
.banner__text a:hover{
    background-color: violet;

}

/*about*/

.about{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-header{
    margin-bottom: 40px;

}
.section-header h2{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;


}
.section-header p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

.single-about img{
    width: 50%;
    object-fit: cover;
}
.single-about h2{
    font-size: 40px;
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.single-about p{
    width: 50%;
    margin: auto;
    padding: 40px 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.service{
    padding: 40px;

}

.section-header h2{
    font-size: 40px;
    padding-top: 40px;
}

.section-header p{
    width: 50%;
    margin: auto;
    padding: 40px 0;

}

.service-content{
    display: flex;
    


}
.service-content img{
    width: 90%;
    padding: 10%;
    height: 230px;
    

}
.service-content h2{
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.service-content p{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10%;
    
}


/*contact*/
.contact{

    padding: 40px 0;
    

}
.single-contact{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.single-contact input{
    width: 88%;
    height: 50px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid blueviolet;

}
.single-contact textarea{
    width: 88%;
    height: 120px;
    border: none;
    border-bottom: 3px solid blueviolet;
}
.single-contact input:last-child{
    border: none;
    width: 30%;
    border-radius: 10px;
    background-color: blueviolet;
    color: #f7f4f4;
}
.single-contact input:last-child:hover{
    background-color: violet;
}
/*footer*/
footer{
    background-color: blueviolet;
    color: aliceblue;
    line-height: 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:991px) {
    .header__container ul li a{
        color:violet;
    }
}
@media (max-width:780px) {
    .header__container ul li a{
        font-size: 10px;
    }

    .service-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
}
.service-content img {
    width: 100%;
    padding: 10%;
    height: 500px;
} 

.section-header p {
    width: 85%;
    margin: auto;
    padding: 40px 0;
}
.single-about img {
    width: 80%;
    object-fit: cover;
}

.single-about img {
    width: 80%;
    object-fit: cover;
}
.single-about p {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
}


@media (max-width: 480px) {
    .single-contact {
          
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
}
    .single-contact input {
        width: 100%;
} 
    .single-contact textarea {
    width: 100%;
}


}
@media (max-width:480px) {
    .header__container ul li a{
        color:violet;
    }

    .header__container ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
    }
    .single-contact input {
        width: 80%;
}
.single-contact textarea {
    width: 80%;
}
}
@media (max-width: 360px){
    .service-content img {
        width: 100%;
        padding: 10%;
        height: 200px;
    }

}
@media (max-width: 640px){
    .service-content img {
        width: 100%;
        padding: 10%;
        height: 300px;
    }

}
