*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1200px;
	font-family: 'Lato';
	color: #333;
}



img{
    width: auto;
    height: 100%;
    background-position: center;
}

.header ul {
    width: 150%;
    display: flex;
    justify-content: right;
    gap: 55px;
    line-height: 20px;
    list-style: none;
}

.header ul li {
    text-decoration: none;
    font-size: 18px;
    text-transform: initial;
    font-weight: 600;

}

.name{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1px;
    font-family:  "Noto-sans",sans-serif;
}
.price{
    margin: 0px;
    font-weight: 700;
    font-style: italic;
    font-size: 1.3rem ;
    color: #242424b4;
}
.price::before{
    content: "$";
}
.description{
 text-align: justify;
 font-size: 12px;
}

.item{
    margin-bottom: 25px;
}

.item-carrito{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    
}
.item-carrito .item-img{
width: 30%;
height: auto;
align-items: center;
}

.item-carrito .item-img avatar{
    width: 100%;
    height: 400;
    align-items: center;
    }
.cart-container{
    width: 130%;
    
}


.liked{
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

/* Carrito */

.carrito{
    background-color: #359A2C;
    color: #FFF;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.bubbleAlert{
    background-color: #7B1FA2;
    border-radius: 50px;
    color: #FFF;
    padding: 2px 8px;
    font-size: 0.9rem;
    width: 20px;
}

.bubble{
    position: relative;
    left: 55px;
    top: -15px;
    overflow: hidden;
}

.cart-container{
    padding: 90px;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 1px;
    font-family:  "Noto-sans",sans-serif;
}



.precio-total {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}


